<div class="container">
  <div class="card shadow ">
    <form [formGroup]="rutinaForm" (ngSubmit)="salvar()">
      <h2 class="text-center mt-3">{{title}}</h2>
      <div class="card-body">
          <div class="mb-3">
            <label for="name" class="form-label fw-bold"
                    >Nombre*</label>
            <input
                    id="name"
                    class="form-control"
                    formControlName="name"
                  />
                   @if(checkControl('name','required')){
                    <p class="error text-danger f-6">El campo no puede estar vacio</p>
                  } 
                  @if(checkControl('name','message')){
                    <p class="error text-danger f-6">
                  {{rutinaForm.get('name')?.errors?.['message']}}
                    </p>
                }
          </div>
          <div>
                  <label for="descripcion" class="form-label fw-bold"
                    >Descripción*</label>
                  <textarea
                    id="descripcion"
                    class="form-control"
                    formControlName="descripcion"
                  ></textarea>
                  @if(checkControl('descripcion','required')){
                    <p class="error text-danger f-6">El campo no puede estar vacio</p>
                  } 
                  @if(checkControl('descripcion','message')){
                    <p class="error text-danger f-6">
                  {{rutinaForm.get('descripcion')?.errors?.['message']}}
                    </p>
                }
          </div>
          <div class="d-flex align-items-center gap-2">
              <span class="pill-element d-flex mt-2" (click)="esDefecto()">
                <mat-icon [ngClass]="{ 'invisible': defect }">remove_circle</mat-icon>
                <mat-icon [ngClass]="{ 'invisible': !defect }">check_circle</mat-icon>
              </span>
              <span class="mt-2">Añadir como rutina por defecto</span>
          </div>
        <div class="d-flex justify-content-center gap-3 mt-3">
          <button
            class="d-flex align-items-center justify-content-center gap-2 btn-custom btn-primary-color"
            type="submit"
            [disabled]="rutinaForm.invalid"
          >
            <mat-icon>save</mat-icon> Guardar
          </button>
          <button
            class="d-flex align-items-center justify-content-center gap-2 btn-custom btn-error"
            type="button"
            (click)="cancelar()"
          >
            <mat-icon>cancel</mat-icon> Cancelar
          </button>
        </div>
      
      </div>
    </form>
  </div>
</div>
