body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}




.pill-element {
  border: 1px solid #ccc;
  border-radius: 10px;
}