<div class="container-fluid vh-100 overflow-hidden p-2 d-flex flex-column align-items-center" id="landing-container">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <app-landing-img [imagen]="'/image/Frame13.png'"></app-landing-img>
  </div>

  <div class="col-12 d-flex justify-content-center align-items-center">
    <app-landing-img [imagen]="'/image/LandingPage.png'"></app-landing-img>
  </div>

  <div id="como-funciona" class="col-12 d-flex justify-content-center align-items-center img-container w-100">
    <app-landing-img [imagen]="'/image/Frame15.png'"></app-landing-img>
  </div>
</div>