ul {
    list-style: none;
}

.btn-mas {
    height: 30px !important;
}

.btn-crud {
    height: 40px;
    width: 46px;
    opacity: 0.3;
}

.header-color-mat {
    background-color: lightgray;
}

.panel-content {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.elemento_texto_lista {
    flex-grow: 1;
    display: block;
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 7px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

.color-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 2px;
}

  .nombre-objetivo {
    display: block;
  }