.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); /* Ajusta si tu header tiene altura fija */
    padding: 2rem;
  }
  
  .login-card {
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
.btn-primary-color {
    background-color: rgba(15, 163, 177, 0.5);
    border: none;

    &:hover {
        background-color: rgb(15, 163, 177);
    }
  }

  button[mat-raised-button] {
    background-color: rgba(15, 163, 177, 1) !important; 
    color: white !important; 
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  button[mat-raised-button]:hover {
    background-color: rgb(13, 145, 157) !important;
    transform: translateY(-2px); /* Elevación */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  button[mat-raised-button]:disabled {
    background-color: rgba(200, 200, 200, 0.5) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    box-shadow: none;
    cursor: not-allowed; /* Cursor deshabilitado */
  }