<section class="login-wrapper">
    <div class="login-card">
      <h2 class="text-center mb-4">Recuperar Contraseña</h2>

      <p class="text-center mb-4">Para restablecer tu contraseña, introduce tu nombre de usuario en Rutinator.</p>
  
      <form [formGroup]="passRecoveryForm" (ngSubmit)="onLogin()">
        <mat-form-field class="w-100 mb-3" appearance="fill">
          <mat-label for="usuario" class="form-label fw-bold">Usuario</mat-label>
          <input
            matInput
            type="text"
            id="usuario"
            class="form-control"
            formControlName="usuario"
            placeholder="Introduce tu usuario"
          />
          @if (checkControl('usuario', 'required')) {
            <mat-error class="text-danger">El campo es obligatorio</mat-error>
          }
        </mat-form-field>
        
  
        <button
        mat-raised-button
        color="primary"
        class="w-100 mt-4 d-flex align-items-center justify-content-center gap-2"
        [disabled]="passRecoveryForm.invalid">
          Restablecer mi contraseña
        </button>
      </form>
      <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
        <p>¡Ya me acuerdo! <a [routerLink]="['/login']" class="link-primary-color text-decoration-none">Iniciar sesión</a></p>
      </div>
    </div>
  </section>
  