<div class="d-flex gap-3">
  <button
    mat-raised-button
    color="primary"
    class="w-100 mt-4 d-flex align-items-center justify-content-center gap-2 btn-custom btn-primary-color p-3"
    (click)="irRegistrarse()"
  >
    🚀 Empieza Gratis Ahora
  </button>

  <button 
    mat-raised-button
    color="primary"
    class="w-100 mt-4 d-flex align-items-center justify-content-center gap-2 btn-custom btn-primary-color p-3"
    (click)="irAComoFunciona()"
  >
    💡 ¿Cómo funciona?
  </button>
</div>