<mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header class="header-color-mat">
        <div class="d-flex align-items-center justify-content-between w-100">
            <!-- Div 1: Icono a la izquierda -->
            <div class="me-2">
                <mat-icon>interests</mat-icon>
            </div>
        
            <!-- Div 2: Título centrado -->
            <div class="flex-grow-1 text-center">
                <h3 class="mb-0 text-shadow-depth">
                    <strong>Intereses</strong>
                </h3>
            </div>
        
            <!-- Div 3: Botón a la derecha -->
            <div>
                <mat-panel-description>
                <button 
                    (click)="openModal('añadir', {}); $event.stopPropagation()"
                    class="btn-mas d-flex align-items-center justify-content-center btn-custom btn-primary-color py-2 px-3 fs-4">
                    +
                </button>
                </mat-panel-description>
            </div>
        </div>
    </mat-expansion-panel-header>

    @for (item of arrayInteresesUsuario; track item.id) {
        <div class="panel-content elemento-lista-card p-3 bg-light d-flex align-items-center justify-content-between" (click)="openModal('actualizar', item)">
            <div class="elemento-texto-lista d-flex align-items-center justify-content-center px-3" [style]="{'border-left': '4px solid ' + item.color}">
                <h5><strong>{{ item.interest_name }}</strong></h5>
            </div>
            <button (click)="deleteInterest(item); $event.stopPropagation()" class="btn-crud btn btn-outline-danger"><mat-icon>delete</mat-icon></button>
        </div>   
    }
</mat-expansion-panel>