<div class="main-container">
  <div class="header">
    <h1>Mis rutinas</h1>
    <p class="subtext">{{ rutinas.length }} rutinas</p>
    <button class="crear-rutina">Crear rutina</button>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Buscar rutinas" />
    <span class="icon">🔍</span>
  </div>

  <div *ngFor="let rutina of rutinas" class="rutina-card">
    <div class="rutina-header">
      <strong>{{ rutina.name }}</strong>
      <span *ngIf="rutina.is_default" class="icon-star">⭐</span>
    </div>
    <p>{{ rutina.description }}</p>
    <div class="rutina-footer">
      <span>Última actualización: {{ rutina.created_at | date:'dd/MM/yyyy' }}</span>
      <div>
        <a href="#">v1</a> · <span>0 tareas</span>
      </div>
    </div>
  </div>
</div>