:root {
  --font-family-inter: 'Inter', sans-serif;
  --fondo: rgba(217, 229, 214, 1);
  --button: rgba(15, 163, 177, 1);
  --text-black: rgba(0, 0, 0, 1);
  --text-rgb-15-163-177: rgba(15, 163, 177, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-245-249-245: rgba(245, 249, 245, 1);
}

.text-black {
  color: var(--text-black);
}

.text-rgb-15-163-177 {
  color: var(--text-rgb-15-163-177);
}

.text-white {
  color: var(--text-white);
}

.text-rgb-245-249-245 {
  color: var(--text-rgb-245-249-245);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.text-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-29-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(15, 163, 177, 1);
  border: none;
  outline: none;
}

.text-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-15-163-177);
}

.text-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-28-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rutina-card-default-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
  padding: 40px 20px 40px 20px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 80.52073288331727%;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 253, 253, 1);
  border-radius: 20px;
}

.text-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-29-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-15-163-177);
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-28-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rutina-card-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
  padding: 40px 20px 40px 20px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 80.71359691417551%;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 253, 253, 1);
  border-radius: 20px;
}

.text-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-29-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-15-163-177);
}

.text-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-28-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rutina-card-20 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
  padding: 40px 20px 40px 20px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 80.71359691417551%;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 253, 253, 1);
  border-radius: 20px;
}

.rutinas-lista-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 100px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(245, 249, 245, 1);
  border-radius: 20px;
}

.navigation-container-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.rectangle-63-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.text-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.vector-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(31, 31, 31, 1);
  border: none;
  outline: none;
}

.node-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.navigation-link-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.divider-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(236, 236, 236, 1);
  border: none;
  outline: none;
}

.rectangle-63-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 254, 254, 1);
}

.text-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.vector-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(31, 31, 31, 1);
  border: none;
  outline: none;
}

.node-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.navigation-link-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-63-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.rectangle-64-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(116, 190, 197, 0.3);
  border-radius: 20px;
}

.text-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-15-163-177);
}

.vector-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(15, 163, 177, 1);
  border: none;
  outline: none;
}

.node-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-63-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 254, 254, 1);
}

.text-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.vector-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.node-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.navigation-link-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.divider-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(236, 236, 236, 1);
  border: none;
  outline: none;
}

.rectangle-62-54 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.heading1 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.heading2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.vector-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.navigation-header-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.navigation-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-51-61 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(15, 163, 177, 1);
}

.component-2-60 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.ellipse-5-63 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.navbar-logged-59 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.logo_rutinator-5-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.navbar-logo-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.heading1 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rutinas-titulo-67 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-71 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-245-249-245);
}

.crear-rutina-70 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 16px 10px 16px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 25.28325015926019%;
  background-color: var(--button);
  border-radius: 8px;
}

.toolbar-66 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 831px;
  padding: 9px 20px 9px 20px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(245, 249, 245, 1);
}

.vector-75 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(165, 165, 165, 1);
  border: none;
  outline: none;
}

.text-76 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-30-74 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 38px;
  padding: 5px 0px 5px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-31-73 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 20px 10px 20px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 800px;
  background-color: rgba(255, 254, 254, 1);
  border: 1px solid rgba(134, 134, 134, 1);
  border-radius: 20px;
}

.searchbar-72 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(245, 249, 245, 1);
}

.rutinas-header-65 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 100px 0px 100px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rutinas-landing-list-1 {
@media (max-width: 1440px) {
  .rutinas-landing-list-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .rutinas-landing-list-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(245, 249, 245, 1);
}


