<div class="rutinas-landing-list-1">
<div class="rutinas-lista-2">
<div class="rutina-card-default-3">
<div class="frame-29-4">


<p class="text-5"><span class="text-black">Última actualización: 27/02/2025</span></p>
<p class="text-6"><span class="text-black">Rutina por defecto</span></p>
<p class="text-7"><span class="text-black">Descripción de rutina</span></p>
</div>
<div class="frame-28-8">
<img src="images/vector-9.svg" class="vector-9" alt="vector" />
<p class="text-10"><span class="text-rgb-15-163-177">v1</span></p>
<p class="text-11"><span class="text-black">12 tareas</span></p>
</div>
</div>
<div class="rutina-card-12">
<div class="frame-29-13">
<p class="text-14"><span class="text-black">Última actualización: 27/02/2025</span></p>
<p class="text-15"><span class="text-black">Nombre de rutina</span></p>
<p class="text-16"><span class="text-black">Descripción de rutina</span></p>
</div>
<div class="frame-28-17">
<p class="text-18"><span class="text-rgb-15-163-177">v1</span></p>
<p class="text-19"><span class="text-black">12 tareas</span></p>
</div>
</div>
<div class="rutina-card-20">
<div class="frame-29-21">
<p class="text-22"><span class="text-black">Última actualización: 27/02/2025</span></p>
<p class="text-23"><span class="text-black">Nombre de rutina</span></p>
<p class="text-24"><span class="text-black">Descripción de rutina</span></p>
</div>
<button
    class="d-flex align-items-center justify-content-center gap-2 btn-custom btn-error"
    type="button"
    [routerLink]="['/app/anadirRutina']">
    Añadir Rutinas
</button>
<div class="frame-28-25">
<p class="text-26"><span class="text-rgb-15-163-177">v1</span></p>
<p class="text-27"><span class="text-black">12 tareas</span></p>
</div>
</div>
</div>
<div class="navigation-28">
<div class="navigation-container-29"></div>
<div class="navigation-link-30">
<div class="rectangle-63-31"></div>
<p class="text-32"><span class="text-black">Ajustes</span></p>
<div class="node-33">
<img src="images/vector-34.svg" class="vector-34" alt="vector" />
</div>
</div>
<img src="images/divider-35.svg" class="divider-35" alt="divider" />
<div class="navigation-link-36">
<div class="rectangle-63-37"></div>
<p class="text-38"><span class="text-black">Mi panel </span></p>
<div class="node-39">
<img src="images/vector-40.svg" class="vector-40" alt="vector" />
</div>
</div>
<div class="node-41">
<div class="rectangle-63-42"></div>
<div class="rectangle-64-43"></div>
<p class="text-44"><span class="text-rgb-15-163-177">Rutinas</span></p>
<div class="node-45">
<img src="images/vector-46.svg" class="vector-46" alt="vector" />
</div>
</div>
<div class="navigation-link-47">
<div class="rectangle-63-48"></div>
<p class="text-49"><span class="text-black">Home</span></p>
<div class="node-50">
<img src="images/vector-51.svg" class="vector-51" alt="vector" />
</div>
</div>
<img src="images/divider-52.svg" class="divider-52" alt="divider" />
<div class="navigation-header-53">
<div class="rectangle-62-54"></div>
<p class="heading1"><span class="text-black">Nombre de usuario</span></p>
<!--<p class="heading2"><span class="text-black">email@mail.com</span></p>-->
<img src="images/vector-57.svg" class="vector-57" alt="vector" />
</div>
</div>

 
<div class="navbar-logo-58">
<div class="navbar-logged-59">
<div class="component-2-60">
<div class="rectangle-51-61"></div>
</div>
<p class="text-62"><span class="text-white">Nombre Apellido</span></p>
<img src="images/ellipse-5-63.svg" class="ellipse-5-63" alt="ellipse-5" />
</div>
<img src="images/logo_rutinator-5-64.png" class="logo_rutinator-5-64" alt="logo_rutinator-5" />
</div>
<div class="rutinas-header-65">
<div class="toolbar-66">
<div class="rutinas-titulo-67">
<p class="heading1"><span class="text-black">Mis rutinas</span></p>
<p class="text-69"><span class="text-black">3 rutinas</span></p>
</div>
<div class="crear-rutina-70">
<p class="text-71"><span class="text-rgb-245-249-245">Crear rutina</span></p>
</div>
</div>
<div class="searchbar-72">
<div class="frame-31-73">
<div class="frame-30-74">
<img src="images/vector-75.svg" class="vector-75" alt="vector" />
<p class="text-76"><span class="text-black">Buscar rutinas</span></p>
</div>
</div>
</div>
</div>
</div>