<section class="login-wrapper">
  <div class="login-card">
    <h2 class="text-center mb-4">Regístrate</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="mb-3">
        <label for="nombreCompleto" class="form-label fw-bold"
          >Nombre Completo</label
        >
        <input
          type="text"
          id="nombreCompleto"
          class="form-control"
          formControlName="nombreCompleto"
          placeholder="Introduce tu nombre completo"
        />
        @if (checkControl('nombreCompleto', 'required')) {
        <p class="text-danger">El campo es obligatorio</p>
        }
      </div>
      <div class="mb-3">
        <label for="email" class="form-label fw-bold">Correo Electrónico</label>
        <input
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Introduce tu email"
        />
        @if (checkControl('email', 'required')) {
        <p class="text-danger">El campo es obligatorio</p>
        } @if (checkControl('email', 'pattern')) {
        <p class="text-danger">Introduce un correo válido</p>
        }
      </div>
      <div class="mb-3">
        <label for="usuario" class="form-label fw-bold">Usuario</label>
        <input
          type="text"
          id="usuario"
          class="form-control"
          formControlName="usuario"
          placeholder="Introduce tu usuario"
        />
        @if (checkControl('usuario', 'required')) {
        <p class="text-danger">El campo es obligatorio</p>
        }
      </div>

      <div class="mb-3">
        <label for="contrasena" class="form-label fw-bold">Contraseña</label>
        <div class="position-relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="contrasena"
            class="form-control"
            formControlName="contrasena"
            placeholder="Introduce tu contraseña"
          />
          <button
            type="button"
            (click)="showPassword = !showPassword"
            class="position-absolute top-50 translate-middle-y end-0 d-flex align-items-center px-3 text-secondary hover:text-primary border-0 bg-transparent"
          >
            @if (!showPassword) { 👁️ } @else { 🙈 }
          </button>
        </div>
        @if (seguridadContrasena) {
        <p
        class="text-sm fw-medium mt-2"
        [ngClass]="{
            'text-danger': seguridadContrasena === 'Débil',
            'text-warning': seguridadContrasena === 'Media',
            'text-success': seguridadContrasena === 'Fuerte'
        }"
        >
          Seguridad: {{ seguridadContrasena }}
        </p>
        } @if (checkControl('contrasena', 'required')) {
        <p class="text-danger text-sm mt-1">El campo es obligatorio</p>
        } @else if (checkControl('contrasena', 'pattern')) {
        <p class="text-danger text-sm mt-1">
          La contraseña debe contener al menos una mayúscula, una minúscula y un
          número
        </p>
        } @else if (checkControl('contrasena', 'minlength')) {
        <p class="text-danger text-sm mt-1">
          La contraseña debe tener al menos 8 caracteres
        </p>
        }
      </div>

      <button
        type="submit"
        class="btn w-100 btn-primary-color mt-4 fw-bold"
        [disabled]="registerForm.invalid"
      >
        Registrarse
      </button>
    </form>
    <div
      class="d-flex justify-content-center align-items-center mt-4 flex-column"
    >
      <p>
        ¿Ya tienes cuenta?
        <a
          [routerLink]="['/login']"
          class="link-primary-color text-decoration-none"
          >Iniciar Sesión</a
        >
      </p>
    </div>
  </div>
</section>
