<section class="login-wrapper">
  <div class="login-card">
    <h2 class="text-center mb-4">Regístrate</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <mat-form-field class="w-100 mb-3" appearance="fill">
        <mat-label for="nombreCompleto" class="form-label fw-bold"
          >Nombre Completo</mat-label>
        <input
          matInput
          type="text"
          id="nombreCompleto"
          class="form-control"
          formControlName="nombreCompleto"
          placeholder="Introduce tu nombre completo"
        />
        @if (checkControl('nombreCompleto', 'required')) {
        <mat-error class="text-danger">El campo es obligatorio</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100 mb-3" appearance="fill">
        <mat-label for="email" class="form-label fw-bold">Correo Electrónico</mat-label>
        <input
          matInput
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Introduce tu email"
        />
        @if (checkControl('email', 'required')) {
        <mat-error class="text-danger">El campo es obligatorio</mat-error>
        } @if (checkControl('email', 'pattern')) {
        <mat-error class="text-danger">Introduce un correo válido</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100 mb-3" appearance="fill">
        <mat-label for="usuario" class="form-label fw-bold">Usuario</mat-label>
        <input
          matInput
          type="text"
          id="usuario"
          class="form-control"
          formControlName="usuario"
          placeholder="Introduce tu usuario"
        />
        @if (checkControl('usuario', 'required')) {
        <mat-error class="text-danger">El campo es obligatorio</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-100 mb-3" appearance="fill">
        <mat-label for="contrasena" class="form-label fw-bold">Contraseña</mat-label>
        <div class="position-relative">
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            id="contrasena"
            class="form-control"
            formControlName="contrasena"
            placeholder="Introduce tu contraseña"
          />
          <button
            type="button"
            (click)="showPassword = !showPassword"
            class="position-absolute top-50 translate-middle-y end-0 d-flex align-items-center px-3 text-secondary hover:text-primary border-0 bg-transparent"
          >
            @if (!showPassword) { 👁️ } @else { 🙈 }
          </button>
        </div>
        @if (seguridadContrasena) {
        <p
        class="text-sm fw-medium mt-2"
        [ngClass]="{
            'text-danger': seguridadContrasena === 'Débil',
            'text-warning': seguridadContrasena === 'Media',
            'text-success': seguridadContrasena === 'Fuerte'
        }"
        >
          Seguridad: {{ seguridadContrasena }}
        </p>
        } @if (checkControl('contrasena', 'required')) {
        <mat-error class="text-danger text-sm mt-1">El campo es obligatorio</mat-error>
        } @else if (checkControl('contrasena', 'pattern')) {
        <mat-error class="text-danger text-sm mt-1">
          La contraseña debe contener al menos una mayúscula, una minúscula y un
          número
        </mat-error>
        } @else if (checkControl('contrasena', 'minlength')) {
        <mat-error class="text-danger text-sm mt-1">
          La contraseña debe tener al menos 8 caracteres
        </mat-error>
        }
      </mat-form-field>

      <button
      mat-raised-button
      color="primary"
      class="w-100 mt-4 d-flex align-items-center justify-content-center gap-2"
      [disabled]="registerForm.invalid">
        Registrarse
      </button>
    </form>
    <div
      class="d-flex justify-content-center align-items-center mt-4 flex-column"
    >
      <p>
        ¿Ya tienes cuenta?
        <a
          [routerLink]="['/login']"
          class="link-primary-color text-decoration-none"
          >Iniciar Sesión</a
        >
      </p>
    </div>
  </div>
</section>
