<button (click)="openModal('añadir', {})" class="btn-mas w-100 mt-4 d-flex align-items-center justify-content-center gap-2 btn-custom btn-primary-color">+</button>
<mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header class="header-color-mat">
        <h3 class="mb-0">
            Disponibilidad
        </h3>
    </mat-expansion-panel-header>
    <!-- $index es 0-based y se ha acordado que sea 1-based (1-lunes, 7-domingo). Trataremos (i + 1) para cumplirlo-->
    @for (diaConDisponibilidad of diasSemana; let i = $index; track diaConDisponibilidad) {
        <mat-expansion-panel [expanded]='true' id=diaConDisponibilidad.value>
            <mat-expansion-panel-header class="header-color-mat cabecera-interior">
                <span class="mb-0">
                    {{ diaConDisponibilidad}}                  
                </span>
            </mat-expansion-panel-header>
            <!-- Contenedor específico para cada día -->
            <div class="panel-content">
                @for (item of arrayDisponibilidad; track item.id) {
                    @if (item.weekday === i + 1 ) {
                        <div class="elemento-disponibilidad">
                            <button (click)="openModal('actualizar', item)" [id]="item.id" class="btn-crud btn btn-outline-success mt-1">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button (click)="deleteAvailability(item)" class="btn-crud btn btn-outline-danger mt-1">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <div class="elemento-texto-lista mt-1">
                                <span>{{ item.start_time }} a {{ item.end_time }}</span>
                            </div>
                        </div>
                    }
                }
            </div>
        </mat-expansion-panel>
    }
</mat-expansion-panel>