ul {
    list-style: none;
}

.btn-mas {
    height: 30px !important;
}

.btn-crud {
    height: 40px;
    width: 46px;
    opacity: 0.3;

}

.header-color-mat {
    background-color: lightgray;
}

.panel-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.elemento-texto-lista {
    flex-grow: 1;
    background-color: rgba(55, 151, 52, 0.2);
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 7px;
}

.elemento-disponibilidad {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

.cabecera-interior{
    height: 30px !important;
}