<div class="d-flex justify-content-center align-items-center mt-3">
  <article class="col-12 col-sm-4 col-md-4 col-lg-4 p-3 card m-3 w-50">
    <div class="d-flex flex-column justify-content-between m-3">
      <p>
        <strong>{{ nombre }}</strong>
      </p>
      <p>{{ descripcion }}</p>
    </div>
    <div class="d-flex d-flex justify-content-center gap-2">
      <button class="btn-custom btn-primary-color" (click)="volver()">
        Volver
      </button>
  <button class="btn-custom btn-primary-color" type="submit" (click)="crearTarea()"
  >Crear Tarea
  </button>

  <button class="btn-custom btn-primary-color" (click)="actualizarTarea()"
  >Actualizar
  </button>

  <button class="d-flex align-content-center btn-custom btn-primary-color" (click)="descargarPdf(rutinaN)"
  >
  <mat-icon>download</mat-icon>
  Descargar
  </button>
</div>
  </article>
</div>
<h3 class="card-title text-center mb-2 mt-2">Últimas versiones</h3>
<div class="d-flex justify-content-center align-items-center">
  <section class="p-1 card w-50 m-3">
    <div class="d-flex flex-column gap-2 align-items-center">
      @for(rutina of tablarutina;track rutina.id){
      <article class="w-100 p-3 border rounded bg-light rutina-card">
        <div class="container">
          <div class="row" align-items-center>
            <div class="col-md-4 w-75 mb-4">
              <strong>{{ rutina.name }}</strong>
            </div>
            <div class="col-md-4 w-25 color">v{{ rutina.version_number }}</div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-4 w-75">{{ rutina.description }}</div>
            <div class="col-md-4 w-25">numero</div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-4 w-75">
              Ùltima actualización:
              {{ rutina.created_at | date : "dd/MM/yyyy" }}
            </div>

            <div class="col-md-4 w-25">
              <button
                class="btn-custom btn-primary-color"
                (click)="elegir(rutina.idVersion)"
              >
                Elegir
              </button>
            </div>
          </div>
        </div>
      </article>
      }
    </div>
    <div class="paginacion">
      @if(deshabilitarA){
      <button class="btn-custom btn-primary-color" disabled (click)="atras()">
        Atras
      </button>
      }@else{
        <button class="btn-custom btn-primary-color" (click)="atras()">
        Atras
      </button>
      }
      <p class="info-pagina">Página {{ page }} de {{ pageTotales }}</p>
       @if(deshabilitarD){
      <button class="btn-custom btn-primary-color" disabled (click)="avanzar()">
        Avanzar
      </button>
    }@else{
      <button class="btn-custom btn-primary-color" (click)="avanzar()">
        Avanzar
      </button>
    }
    </div>
  </section>
</div>
