:root {
  --primary-color: #0FA3B1;
  --text-color: #333;
}
html, body, main {
  margin: 0;
  height: 100%;
}

.btn-primary-color {
  background-color: var(--primary-color);
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

body, main {
  font-family: 'Open Sans', sans-serif;
}

.link-primary-color {
  color: var(--primary-color);
}

.snackbar-success {
  background-color: #198754; 
  font-size: 15px;
  border-radius: 6px;
}

.snackbar-error {
  background-color: #dc3545;
  color: #fff;
  font-size: 15px;
  border-radius: 6px;
  text-align: center;
}


.snackbar-info {
  background-color: #0d6efd;
  color: #fff;
  font-size: 15px;
  border-radius: 6px;
}

.mat-snack-bar-action {
  color: #fff !important;
  font-weight: bold;
}

.mat-snack-bar-action:hover {
  background-color: transparent !important;
}
