.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
.row {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.actividad-item {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.actividad-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.actividad-titulo {
  font-weight: bold;
  font-size: 1rem;
  color: var(--text-color);
}

.actividad-horario {
  font-size: 0.85rem;
}

.btn-actividad {
  font-size: 0.85rem;
  padding: 0.4rem 1.2rem;
}

.sin-actividades-container {
  text-align: center;
  padding: 2rem;
  color: #555;
  background-color: #f9f9f9;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 500px;
  animation: fadeIn 0.6s ease-in-out;
}

.sin-actividades-container img {
  width: 50%;
  max-width: 80%;
  margin-bottom: 1rem;
}

.sin-actividades-container h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #333;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* oscurecimiento */
  backdrop-filter: blur(3px); /* difuminado del fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; /* asegurar que esté por encima de todo */
}

.modal-content {
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  max-width: 900px; /* antes era 600px */
  width: 95%;
  max-height: 90vh;
  overflow-y: auto;
}

::ng-deep .mat-tab-label {
  padding: 6px 16px;
  border-radius: 16px;
  font-weight: bold;
  background-color: #fff;
  margin: 4px;
  transition: 0.3s ease;
  text-transform: none;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: #e0e0e0;
}



